<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="index.js"></script>
    visited_count = {{visited_count}}<br>
      Query  Count = {{queries_count}}<br>
      {% if queries_count1 %}
          after using iterator Query  Count= {{queries_count1}}<br>
      {% endif %}
      {% for waiter in restaurant_object.waiters.all %}
        {{query_func}}         {{waiter.restaurant}}---------{{waiter.restaurant.place}}<br>
      {% endfor %}
  </body>
</html>